language: go
go:
- 1.9
cache:
  directories:
  - vendor
install:
- go get -u github.com/hashicorp/{go-plugin,go-hclog}
- go get -u golang.org/x/net/{context,http2,trace}
- go get -u github.com/golang/dep/cmd/dep
- dep ensure
script:
- go get -u github.com/alecthomas/gometalinter
- gometalinter --install --force
- gometalinter --vendor --fast --disable=gotype --disable=vetshadow --disable=gas --skip=mock ./...
- go get github.com/mattn/goveralls
- goveralls -race -service=travis-ci -ignore=*/mock/*,*/*/mock/*
- go test ./tests -tags=integration
after_success:
- test -n "$TRAVIS_TAG" && curl -sL https://git.io/goreleaser | bash
notifications:
  email:
  - platform@serverless.com
